
html, body {
    scroll-behavior: smooth;
    font-family: 'Roboto';
    width: 100%;
    top: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}


.App {
    position: relative;
    margin: 0px;
    width: 100%;
    padding-bottom: 200px;
}

a {
    text-decoration: none;
    color: rgb(42, 72, 243);
}

a:visited {
    text-decoration: none;
    color: rgb(42, 72, 243);
}