
html, body {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    top: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
