

/* nationality dataset choosing box */
.dataChoosingBox {
    position: fixed;
    top: calc(50% - 311px);
    left: calc(50% - 400px);
    background-color: white;
    border-radius: 7px;
    width: 800px;
    height: 623px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    z-index: 12000;
}


.dataChoosingTitle {
    position: relative;
    color: rgb(63, 63, 63);
    font-size: 35px;
    left: 0px;
    top: -10px;
    padding-left: 25px;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(224, 224, 224);
}

.availableNationalities {
    position: absolute;
    top: 85px;
    left: 10px;
    height: 230px;
    width: 780px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

.selectionCounter {
    position: absolute;
    top: 2px;
    right: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, rgb(72, 83, 235) 30%, rgb(138, 65, 255)); /* 63 63 63 */
    font-size: 10px;
    text-align: center;
    color: white;
}

.chosenNationalities {
    position: absolute;
    top: 323px;
    left: 10px;
    height: 230px;
    width: 780px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

.chosenTitle {
    position: relative;
    left: 11px;
    top: -10px;
    font-size: 23px;
    text-align: left;
    color: rgb(63, 63, 63);
}

.availableTitle {
    position: relative;
    left: 11px;
    top: -10px;
    font-size: 23px;
    text-align: left;
    color: rgb(63, 63, 63);
}

.chosenScrollDiv {
    position: absolute;
    top: 35px;
    left: 10px;
    height: 186px;
    width: 770px;
    background-color: rgb(238, 238, 238);
    overflow-y: scroll;
    overflow-x: hidden;
}

.availableScrollDiv {
    position: absolute;
    top: 35px;
    left: 10px;
    height: 186px;
    width: 770px;
    background-color: rgb(238, 238, 238);
    overflow-y: scroll;
    overflow-x: hidden;
}

.nationalityButton {
    position: relative;
    scroll-margin: 0px;
    background-color: white;
    width: 106px;
    height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(238, 238, 238);
    color: rgb(63, 63, 63);
    outline: none;
}

.nationalityButton:hover {
    background-color: rgb(170, 170, 170);
    color: white
}


.submitNationalitiesBox {
    position: relative;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(224, 224, 224);
    top: 455px;
}

.submitNationalitiesButton {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 25px;
    font-family: inherit;
    background: linear-gradient(to bottom right, rgb(72, 83, 235) 30%, rgb(138, 65, 255));
    /*background-color: rgb(44, 107, 231);*/
    border: none;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 100px;
    outline: none;
}

.submitNationalitiesButton:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.submitNationalitiesButton:active {
    font-size: 24px;
}

.errorMessageBox {
    position: absolute;
    top: 14px;
    left: 117px;
    width: 450px;
    height: 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: tomato;
}

.errorMessage {
    position: relative;
    left: 5px;
    top: -7px;
    padding-right: 11px;
    text-align: center;
    font-size: 15px;
    color:tomato;
}
