
.userAuthBox {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    align-items: stretch;
    background: linear-gradient(to bottom right, rgb(72, 83, 235) 30%, rgb(106, 117, 219));
}

.authFieldBox {
    position: absolute;
    width: 400px;
    height: 130px;
    left: calc(50% - 200px);
    top: calc(50% - 300px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255);
}

.authTitleBox {
    position: absolute;
    height: 45px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(63, 63, 63);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all .1s ease-out;
}

.authTitleBox:hover {
    background-color: rgb(57, 57, 57);
    transition: all .1s ease-out;
}

.authBoxlogo {
    position: absolute;
    top: 7px;
    left: 7px;
    height: 30px;
}


.authTitleText {
    position: absolute;
    top: -8px;
    left: 47px;
    font-size: 22px;
    color: white;
    font-weight: 600;
}

.authChoiceButton {
    position: absolute;
    outline: none;
    top: 45px;
    height: 55px;
    width: 201px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;
    color: rgb(63, 63, 63);
}

.authChoiceButton:hover {
    background-color: rgb(245, 245, 245);
}

#loginChoice {
    left: 0px;
}

#signupChoice {
    right: 0px;
}

.loginChoiceLine {
    position: absolute;
    top: 100px;
    width: 50%;
    height: 1px;
    background-color: rgb(215, 215, 215);
}

.signupChoiceLine {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 50%;
    height: 1px;
    background-color: rgb(215, 215, 215);
}

#chosenAuth {
    background-color: rgb(131, 131, 131);
}

/* login section */

.loginSectionBox {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 115px;
    width: 400px;
    height: 275px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 10px 25px -15px rgb(34, 34, 34);
}

.emailLabel {
    position: absolute;
    left: 30px;
    font-weight: 600;
    font-size: 17px;
    color: rgb(50, 50, 50);
}

.loginEmailLabel {
    top: 5px;
}

.signupEmailLabel {
    top: 75px;
}


.emailField {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    width: 320px;
    border-radius: 5px;
    border: solid 1px rgb(195, 195, 195);
    height: 35px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    font-size: 16px;
    padding-left: 12px;
    outline: none;
}

.loginEmailField {
    top: 30px;
}


.signupEmailField {
    top: 100px;
}

.passwordLabel {
    position: absolute;
    left: 30px;
    font-weight: 600;
    font-size: 17px;
    color: rgb(50, 50, 50);
}

.loginPasswordLabel {
    top: 90px;
}

.signupPasswordLabel {
    top: 155px;
}

.passwordField {
    position: absolute;
    border-radius: 5px;
    border: solid 1px rgb(195, 195, 195);
    height: 35px;
    width: 320px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    font-size: 16px;
    padding-left: 12px;
    left: 30px;
    outline: none;
}

.loginPasswordField {
    top: 115px;
}

.signupPasswordField {
    top: 180px;
}

/* signup section */

.signupSectionBox {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 115px;
    height: 450px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 10px 25px -15px rgb(34, 34, 34);
}

.nameField {
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius: 5px;
    border: solid 1px rgb(195, 195, 195);
    height: 35px;
    width: 170px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    font-size: 16px;
    padding-left: 12px;
    outline: none;
}

.roleField {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 5px;
    border: solid 1px rgb(195, 195, 195);
    height: 39px;
    width: 135px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    font-size: 16px;
    padding-left: 12px;
    outline: none;
}

.nameLabel {
    position: absolute;
    top: 1px;
    left: 30px;
    font-weight: 600;
    font-size: 17px;
    color: rgb(50, 50, 50);
}

.roleLabel {
    position: absolute;
    top: 1px;
    left: 235px;
    font-weight: 600;
    font-size: 17px;
    color: rgb(50, 50, 50);
}

.repeatPasswordLabel {
    position: absolute;
    left: 30px;
    font-weight: 600;
    font-size: 17px;
    color: rgb(50, 50, 50);
    top: 235px;
}

.repeatPasswordField {
    position: absolute;
    top: 260px;
    left: 30px;
    border-radius: 5px;
    border: solid 1px rgb(195, 195, 195);
    height: 35px;
    width: 320px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    font-size: 16px;
    padding-left: 12px;
    outline: none;
}

.nameField::placeholder,
.roleField,
.roleField::placeholder,
.emailField::placeholder, 
.passwordField::placeholder,
.repeatPasswordField::placeholder {
    color: rgb(180, 180, 180);
}

.roleSelected {
    color: black;
}

.roleOption {
    color: black;
}

.nameField:hover, 
.roleField:hover,
.emailField:hover,
.passwordField:hover,
.repeatPasswordField:hover {
    border-color: rgb(86, 97, 250, 0.5);
}


.nameField:focus, 
.roleField:focus,
.emailField:focus,
.passwordField:focus,
.repeatPasswordField:focus {
    border-color: rgb(86, 97, 250, 0.5);
    box-shadow: 1px 2px 4px rgba(86, 97, 250, 0.5);
}


.submitAuthButton {
    position: absolute;
    left: calc(50% - 80px);
    top: 370px;
    width: 160px;
    height: 50px;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    border: solid 4px rgb(79, 138, 255);
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    color: rgb(63, 124, 247);
    z-index: 15;
    -moz-transition: all .045s ease-out;
    -o-transition: all .045s ease-out;
    -webkit-transition: all .045s ease-out;
    transition: all .045s ease-out;
}

.loginSubmitButton {
    top: 205px;
}

.loginSubmitButton:active {
    top: 213px;
}

.signupSubmitButton {
    top: 370px;
}

.signupSubmitButton:active {
    top: 378px;
}

.submitAuthButton:hover {
    font-size: 19px;
    color: rgb(63, 124, 247);
    -moz-transition: all .07s ease-out;
    -o-transition: all .07s ease-out;
    -webkit-transition: all .07s ease-out;
    transition: all .07s ease-out;
}

.submitAuthButton:active {
    left: calc(50% - 72px);
    -moz-transition: all .045s ease-out;
    -o-transition: all .045s ease-out;
    -webkit-transition: all .045s ease-out;
    transition: all .045s ease-out;
}

.loginShadow {
    top: 214px;
}

.signupShadow {
    top: 379px;
}

.authButtonShadow {
    position: absolute;
    left: calc(50% - 71px);
    width: 158px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.verificationMessageBox {
    position: absolute;
    top: 35px;
    left: calc(50% - 200px);
    width: 400px;
    height: 75px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px rgb(35, 49, 233);
    text-align: center;
    box-shadow: 0 10px 25px -15px rgb(34, 34, 34);
    z-index: 10000;
}

.verificationMessage {
    position: absolute;
    font-family: inherit;
    font-size: 17px;
    left: 15px;
    right: 15px;
    color: rgb(72, 83, 235);
}

/* terms of serive consent check and popup box */

.consentCheckBox {
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    position: absolute;
    top: 324px;
    left: 38px;
    height: 17px;
    width: 17px;
    border: solid 1px rgb(126, 126, 126);
    border-radius: 50%;
    z-index: 10;
    transition: all .1s ease-out;
}

.consentCheckBox:hover {
    background-color: rgb(86, 97, 250, 0.1);
    transition: all .1s ease-out;
}

.checkMark {
    position: absolute;
    top: 331px;
    left: 46px;
    height: 9px;
    width: 9px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 5;
}

.checkMarkChecked {
    background-color: rgb(76, 131, 241);
}

.termsOfServiceDescription {
    position: absolute;
    top: 311px;
    font-family: inherit;
    left: 70px;
    font-size: 15px;
}

.termsOfServicePeriod {
    left: 347px;
}

.termsOfServiceButton {
    position: absolute;
    top: 325px;
    font-family: inherit;
    left: 241px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 15px;
    color: rgb(63, 124, 247);
    font-weight: bold;
}

.termsOfServiceButton:hover {
    color: rgb(135, 152, 250);
}

.termsOfServicePopup {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 105px;
    width: 400px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    z-index: 20;
}

.termsOfServiceTextSection {
    position: absolute;
    top: 30px;
    left: 5px;
    width: 395px;
    height: 420px;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    box-shadow: inset -10px 0 10px rgb(143, 143, 143);
}

.termsOfServiceText {
    position: absolute;
    top: -10px;
    padding-bottom: 10px;
    left: 10px;
    right: 12px;
    text-align: justify;
}

.closeTermsOfServiceButton {
    position: absolute;
    right: 5px;
    height: 26px;
    width: 26px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    border-radius: 50%;
    top: 0px;
    z-index: 25;
}

.closeTermsOfServiceButton:hover {
    transition: all .1s ease-out;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);}

.closeTermsOfServiceImage {
    position: absolute;
    top: 1px;
    height: 25px;
    left: 1px;
    color: black;
}