
@media (max-width: 1650px) {
    .startBackground {
        height: 550px;
    }

    .earthPinIllustration {
        height: 380px;
        top: 143px;
        right: 5vw;
    }
    
    .startBox {
        width: 600px;
        height: 325px;
        font-size: 21.5px;
    }

    .startSubText {
        top: 170px;
    }

    .startButton {
        top: 235px;
        left: 217px;
        height: 40px;
        width: 147px;
    }

    .startButton:active {
        top: 241px;
        left: 223px;
    }
    
    .startButtonShadow {
        top: 241px;
        left: 223px;
        height: 40px;
        width: 147px;
    }

    .informationButtonBox {
        left: calc(50% - 550px);
        width: 1100px;
        top: 580px;
    }

    .informationButton {
        width: 300px;
        height: 118px;
    }

    .informationButtonText {
        font-size: 77px;
        top: -37px;
        left: 25px;
    }
    
    .informationButtonExplaination {
        font-size: 22px;
        width: 200px;
        top: 15px;
        left: 150px;
    }
    
    .nationalityAmountExplaination {
        left: 135px;
    }

    .standardModelsExplaination {
        left: 130px;
    }
    
    .customModelsExplaination {
        top: 30px;
        left: 135px;
    }

    /* ABOUT SECTION */

    .aboutBox {
        position: absolute;
        top: 760px;
        left: calc(50% - 750px);
        height: 700px;
        width: 1500px;
        background-color: transparent;
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: rgb(235, 235, 235);
    }
    
    .slideBox {
        position: absolute;
        top: -40px;
        left: 0px;
        width: 100%;
        height: 700px;
    }

    .aboutSectionTitle {
        position: relative;
        left: calc(50% - 80px);
        padding-top: 20px;
        font-size: 50px;
        font-weight: 600;
        color: rgb(50, 50, 50);
        display: inline-block;
    }
    
    
    .aboutMotivationBox {
        position: absolute;
        top: 200px;
        left: calc(50% - 185px);
        width: 320px;
        height: 475px;
        border: none;
        border-radius: 5px;
        border: solid rgb(226, 231, 255) 1px;
        padding: 30px;
        z-index: 3;
        box-shadow: 0 0 30px rgba(12, 64, 160, 0.15);
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }
    
    .aboutMotivationBox:hover {
        transform: scale(1.05);
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }
    
    
    .aboutProjectBox {
        position: absolute;
        top: 450px;
        left: calc(50% - 595px);
        width: 320px;
        height: 475px;
        border: none;
        border-radius: 5px;
        border: solid rgb(226, 231, 255) 1px;
        padding: 30px;
        z-index: 3;
        box-shadow: 0 0 30px rgba(12, 64, 160, 0.15);
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }
    
    .aboutProjectBox:hover {
        transform: scale(1.05);
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }
    
    .aboutUsBox {
        position: absolute;
        top: 450px;
        left: calc(50% + 225px);
        width: 320px;
        height: 475px;
        border-radius: 5px;
        border: solid rgb(226, 231, 255) 1px;
        padding: 30px;
        z-index: 3;
        box-shadow: 0 0 30px rgba(12, 64, 160, 0.15);
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }
    
    .aboutUsBox:hover {
        transform: scale(1.05);
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }
    
    
    .aboutSponsorButton {
        position: absolute;
        top: 200px;
        height: 4px;
    }
    
    
    .aboutSubTitle {
        position: relative;
        color: rgb(56, 56, 56);
        top: -25px;
        left: 2%;
    }
    
    .aboutText {
        position: relative;
        top: -30px;
        font-size: 15px;
        font-weight: 400;
        color: rgb(56, 56, 56);
        text-align: justify;
        line-height: 30px;
    }

    .analyticsIllustration {
        position: absolute;
        top: 175px;
        left: 210px;
        right: 100px;
        height: 200px;
    }
    
    .peopleIllustration {
        position: absolute;
        top: 185px;
        left: 1030px;
        right: 100px;
        height: 190px;
    }
}

@media (max-width: 1350px) {
    .startBackground {
        height: 475px;
    }

    .earthPinIllustration {
        height: 320px;
        top: 128px;
        right: 5vw;
    }
    
    .startBox {
        width: 500px;
        height: 300px;
        font-size: 18px;
    }

    .startSubText {
        top: 150px;
    }

    .startButton {
        left: 180px;
        top: 210px;
        height: 37px;
        width: 136px;
    }

    .startButton:active {
        left: 186px;
        top: 216px;
    }
    
    .startButtonShadow {
        left: 186px;
        top: 216px;
        height: 37px;
        width: 136px;
    }

    .informationButtonBox {
        display: flex;
        flex-direction: flow;
        justify-content: space-between;
        left: 110px;
        width: 80vw;
        background-color: rgba(126, 28, 165, 0);
        top: 490px;
    }

    .informationButton {
        width: 275px;
        height: 108px;
    }

    .informationButtonText {
        font-size: 60px;
        top: -20px;
        left: 20px;
    }
    
    .informationButtonExplaination {
        font-size: 20px;
        width: 150px;
        top: 18px;
    }
    
    .nationalityAmountExplaination {
        top: 15px;
        left: 115px;
    }

    .standardModelsExplaination {
        top: 15px;
        left: 110px;
    }
    
    .customModelsExplaination {
        top: 28px;
        left: 115px;
    }
}


@media (max-width: 1100px) {
    .startBackground {
        height: 400px;
    }

    .startBox {
        top: 55px;
        left: 10vw;
        margin: auto;
    }

    .startSubText {
        font-size: 1.5em;
    }

    .startSubText {
        font-size: 0.9em;
    }

    .earthPinIllustration {
        height: 280px;
        top: 93px;
        right: 2vw;
    }

    .informationButtonBox {
        width: 70vw;
        height: 165px;
        background-color: rgba(106, 165, 28, 0);
        top: 410px;
        left: 14vw;
    }

    .informationButton {
        width: 165px;
        height: 165px;
    }

    .informationButtonText {
        font-size: 60px;
        top: -20px;
        left: calc(50% - 32px);
    }
    
    .nationalityAmountExplaination {
        top: 80px;
        left: 9px;
        font-size: 20px;
        text-align: center;
    }

    .standardModelsExplaination {
        top: 80px;
        left: 10px;
        text-align: center;
    }
    
    .customModelsExplaination {
        top: 90px;
        left: 10px;
        text-align: center;
    }

    .navigationMenuButton {
        position: absolute;
        right: 0px;
        top: 13px;
        padding: 0px;
        outline: none;
        border: none;
        height: 30px;
        width: 40px;
        background-color: transparent;
        display: table-cell;
        vertical-align: middle;
    }

    .toggleMenuIcon {
        position: absolute;
        height: 45px;
        width: 45px;
        top: calc(50% - 22px);
        left: calc(50% - 22px);
        transition: all .065s ease-out;
    }

    .toggleMenuIcon:hover {
        transform: scale(1.075);
        transition: all .065s ease-out;
    }

    .toggleMenuIcon:active {
        transform: scale(1.0);
        transition: all .065s ease-out;    
    }

    .startText {
        z-index: 1;
    }

    .navigationMenuBox {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: -10px;
        border-radius: 3px;
        top: 60px;
        width: 230px;
        background-color: rgb(255, 255, 255);
        z-index: 2;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    }

    .navigationLinkDiv {
        background-color: white;
        height: 40px;
        top: 0px;
        left: 10px;
        width: 80%;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        border-bottom: solid;
        border-width: 1px;
        border-color: rgb(224, 224, 224);
    }

    .lastNavigationLinkDiv {
        border: none;
    }

    .authBox {
        left: calc(50% - 70px);
        border: none;
    }

    .userSettingsButton {
        left: calc(50% - 37px);
        border: none;
    }

    .loginButton {
        left: -28px;
        width: 100px;
        padding: 0px;
        background-color: transparent;
    }
    
    .signupButton {
        left: 73px;
        padding: 0px;
        width: 100px;
    }
}

@media (max-width: 725px) {
    .earthPinIllustration {
        display: none;
    }

    .startBackground {
        height: 260px;
    }

    .startBox {
        position: absolute;
        top: 35px;
        width: 330px;
        left: calc(50vw - 165px);
        height: 250px;
        font-size: 11px;
    }

    .startSubText {
        top: 85px;
        font-size: 1.2em;
    }

    .startButton {
        width: 120px;
        height: 32px;
        left: 103px;
        top: 140px;
        font-size: 1.2em;
    }

    .startButton:active {
        left: 108px;
        top: 145px;
    }
    
    .startButtonShadow {
        left: 108px;
        top: 145px;
        width: 120px;
        height: 32px;
    }

    .informationButtonBox {
        flex-direction: column;
        width: 275px;
        height: 290px;
        background-color: rgba(106, 165, 28, 0);
        top: 250px;
        left: calc(50vw - 140px);
    }

    .informationButton {
        width: 100%;
        margin: 7px;
    }

   .informationButtonText {
        font-size: 50px;
        top: -20px;
        left: 30px;
    }

    .nationalityAmountExplaination {
        top: 3px;
        left: 110px;
    }

    .standardModelsExplaination {
        top: 3px;
        left: 105px;
    }

    .customModelsExplaination {
        top: 13px;
        left: 110px;
    }
}