
/* "to-help-you-choose" box */
.helpBox {
    position: absolute;
    width: 375px;
    height: 800px;
    top: 70px;
    left: 20px;
    border-right: solid 2px rgb(224, 224, 224);
}

.helpTitle {
    position: absolute;
    color: rgb(63, 63, 63);
    font-size: 25px;
    left: 10px;
    top: -5px;
}

.subHelpBox {
    position: relative;
    top: 14px;
    left: 20px;
    padding-top: 60px;
    float: left;
    width: 83%;
    background-clip: content-box;
}

.subHelpBox:hover {
    background-clip: content-box;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.helpText {
    color: rgb(63, 63, 63);
    font-size: 18px;
    width: 97%;
    text-align: justify;
    padding-left: 5px;
    padding-right: 6px;
    margin-top: 0px;
}

.helpButton {
    position: relative;
    font-size: 20px;
    background: linear-gradient(to bottom right, rgb(72, 83, 235) 30%, rgb(138, 65, 255));
    border: none;
    top: -5px;
    border-radius: 5px;
    color: white;
    height: 60px;
    left: 2%;
    width: 96%;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.helpButton:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.helpButton:active {
    font-size: 19px;
}

.subSmallHelpBox {
    position: relative;
    top: 60px;
    left: 105px;
    padding-top: 0px;
    float: left;
    background-clip: content-box;
}

.smallHelpButton {
    position: relative;
    font-size: 17px;
    background-color: white;
    border: none;
    left: calc(50% - 85px);
    top: 60px;

    padding-top: 2px;
    border-radius: 5px;
    color: rgb(117, 117, 117);
    height: 30px;
    width: 150px;    
    outline: none;
}

.smallHelpButton:hover {
    -moz-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    -webkit-transition: all .05s ease-in;
    transition: all .05s ease-in;
    color: rgb(72, 83, 235);
}

.smallHelpButton:active {
    font-size: 16px;
}

.popupOverlay {
    position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 9999;
    background-color: rgb(0, 0, 0);
    opacity: 0.65;
}

.datasetPresentBoxBoth {
    position: absolute;
    background-color: white;
    border-radius: 7px;
    width: 570px;
    height: 570px;
    top: 100px;
    left: 70px;
    float: left;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    z-index: 12000;
}

.modelPresentBoxBoth {
    position: absolute;
    background-color: white;
    border-radius: 7px;
    width: 570px;
    height: 570px;
    top: 100px;
    left: 800px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    z-index: 12000;
}