

@media (max-width: 1099px) {
    .startBackground {
        height: 400px;
    }

    .startBox {
        top: 55px;
        left: 10vw;
        margin: auto;
    }

    .startSubText {
        font-size: 1.5em;
    }

    .startSubText {
        font-size: 0.9em;
    }

    .earthPinIllustration {
        height: 280px;
        top: 93px;
        right: 2vw;
    }

    .earthPinIllustration2 {
        height: 350px;
        top:75px;
        right: 5vw;
    }

    .informationButtonBox {
        width: 80vw;
        height: 130px;
        background-color: rgba(106, 165, 28, 0);
        top: 415px;
        left: calc(50% - 41vw);
    }

    .informationButton {
        width: 200px;
        height: 130px;
        left: 0px;
    }

    .informationButtonText {
        font-size: 55px;
        top: -27px;
        left: calc(50% - 32px);
    }
    
    .nationalityAmountExplaination {
        top: 57px;
        left: 23px;
        font-size: 20px;
        text-align: center;
    }

    .standardModelsExplaination {
        top: 57px;
        left: 23px;
        text-align: center;
    }
    
    .customModelsExplaination {
        top: 70px;
        left: 23px;
        text-align: center;
    }

    .navigationMenuButton {
        position: absolute;
        right: 0px;
        top: 13px;
        padding: 0px;
        outline: none;
        border: none;
        height: 30px;
        width: 40px;
        background-color: transparent;
        display: table-cell;
        vertical-align: middle;
    }

    .toggleMenuIcon {
        position: absolute;
        height: 45px;
        width: 45px;
        top: calc(50% - 22px);
        left: calc(50% - 22px);
        transition: all .065s ease-out;
    }

    .toggleMenuIcon:hover {
        transform: scale(1.075);
        transition: all .065s ease-out;
    }

    .toggleMenuIcon:active {
        transform: scale(1.0);
        transition: all .065s ease-out;    
    }

    .startText {
        z-index: 1;
    }

    .navigationMenuBox {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: -1vw;
        border-radius: 3px;
        top: 70px;
        width: 230px;
        background-color: rgb(255, 255, 255);
        z-index: 16;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    }

    .navigationLinkDiv {
        background-color: white;
        height: 40px;
        top: 0px;
        left: 10px;
        width: 80%;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        border-bottom: solid;
        border-width: 1px;
        border-color: rgb(224, 224, 224);
    }

    .lastNavigationLinkDiv {
        border: none;
    }

    .authBox {
        left: calc(50% - 70px);
        border: none;
    }

    .userSettingsButton {
        left: calc(50% - 37px);
        border: none;
    }

    .loginButton {
        left: -28px;
        width: 100px;
        padding: 0px;
        background-color: transparent;
    }
    
    .signupButton {
        left: 73px;
        padding: 0px;
        width: 100px;
    }

    .aboutBox {
        top: 585px;
    }

    .explainationText {
        line-height: 25px;
    }

    .explainationBox {
        top: 2025px;
    }

    .explainationBoxTitle {
        padding-top: 30px;
    }

    .howToClassifyBox {
        height: 660px;
    }

    .howToRequestBox {
        height: 850px;
    }

    .homePageBox {
        height: 4075px;
    }

}


@media (max-width: 950px) {
    .earthPinIllustration {
        height: 230px;
        top: 143px;
        right: 2vw;
    }
   
    .settingPopup {
        /* TODO maybe make that responsive */
        background-color: white;
    }

    /* DATASET CHOOSING BOX */

    .dataChoosingBox {
        position: fixed;
        top: calc(50% - 375px);
        left: calc(50% - 300px);
        background-color: white;
        width: 600px;
        height: 750px;
        z-index: 12000;
    }

    .availableNationalities {
        position: absolute;
        top: 85px;
        left: 10px;
        width: 580px;
        height: 292px;
        background-color: rgb(238, 238, 238);
        border-radius: 10px;
    }

    .chosenNationalities {
        position: absolute;
        top: 388px;
        left: 10px;
        width: 580px;
        height: 292px;
        background-color: rgb(238, 238, 238);
        border-radius: 10px;
    }

    .availableScrollDiv {
        width: 560px;
        height: 247px;
    }

    .chosenScrollDiv {
        width: 560px;
        height: 247px;
    }
    
    .submitNationalitiesBox {
        position: relative;
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: rgb(224, 224, 224);
        top: 585px;
    }

    .errorMessageBox {
        left: 20px;
        width: 450px;
        height: 25px;
    }
    
    .errorMessage {
        left: 5px;
        top: -7px;
        padding-right: 11px;
    }
    

}

@media (max-width: 850px) {
    .earthPinIllustration2 {
        height: 0px;
        top: 0px;
        display: none;
    }

    .startBox {
        left: 18vw;
    }
}

