@media (min-width: 1350px) {
    .slideInBottom {
        grid-column: 1 / 2;
        transform: translateY(25%);
        opacity: 0;
        transition: opacity 650ms ease-in, transform 650ms ease-in;
    }

    .slideInBottom.appear {
        opacity: 1;
        transform: translateX(0%);
    }
}


@media (max-width: 1350px) {
    .startBackground {
        height: 475px;
    }

    .earthPinIllustration {
        height: 320px;
        top: 128px;
        right: 5vw;
    }

    .earthPinIllustration2 {
        height: 400px;
        top: 90px;
        right: 11vw;
    }
    
    .startBox {
        width: 500px;
        height: 300px;
        font-size: 18px;
    }

    .startSubText {
        top: 150px;
    }

    .startButton {
        left: 180px;
        top: 168px;
        height: 37px;
        width: 136px;
    }

    .startButton:active {
        left: 186px;
        top: 174px;
    }
    
    .startButtonShadow {
        left: 186px;
        top: 174px;
        height: 37px;
        width: 136px;
    }

    .informationButtonBox {
        display: flex;
        flex-direction: flow;
        justify-content: space-between;
        left: calc(50% - 41vw);
        width: 80vw;
        background-color: rgba(126, 28, 165, 0);
        top: 495px;
    }

    .informationButton {
        width: 275px;
        height: 108px;
    }

    .informationButtonText {
        font-size: 60px;
        top: -20px;
        left: 20px;
    }
    
    .informationButtonExplaination {
        font-size: 20px;
        width: 150px;
        top: 18px;
    }
    
    .nationalityAmountExplaination {
        top: 15px;
        left: 115px;
    }

    .standardModelsExplaination {
        top: 15px;
        left: 110px;
    }
    
    .customModelsExplaination {
        top: 28px;
        left: 115px;
    }

    /* ABOUT SECTION */
    .aboutBox {
        top: 655px;
        width: 80vw;
        left: calc(50% - 41vw);
    }

    .homePageBox {
        padding-bottom: 1800px;
    }
    
    .navigationLinkDiv {
        padding-left: 28px;
        padding-right: 28px;
    }

    .navigationButton {
        top: 15px;
        font-size: 15px;
    }

    .loginButton {
        font-size: 15px;
    }

    .signupButton {
        font-size: 15px;
    }

    
}


@media (max-width: 1265px) {
    .aboutBox {
        position: absolute;
        left: calc(50% - 41vw);
        width: 80vw;
        top: 647px;
        height: 800px;
        margin-bottom: 100px;
    }
    
    .slideBox {
        position: absolute;
        top: -40px;
        left: 0px;
        width: 100%;
        height: 700px;
    }

    .aboutBoxTitle {
        position: relative;
        left: calc(50% - 80px);
        padding-top: 40px;
        font-size: 50px;
        font-weight: 600;
        color: rgb(50, 50, 50);
        display: inline-block;
    }
    
    .aboutMotivationBox {
        position: relative;
        top: 0px;
        width: 580px;
        height: 340px;
        left: calc(50% - 320px);
    }
    
    .aboutProjectBox {
        position: relative;
        top: 30px;
        width: 580px;
        height: 340px;
        left: calc(50% - 320px);
    }
    
    .aboutUsBox {
        position: relative;
        top: 60px;
        width: 580px;
        height: 340px;
        left: calc(50% - 320px);
    }

    .aboutPaperBox {
        position: relative;
        top: 90px;
        width: 580px;
        height: 140px;
        left: calc(50% - 320px);
    }

    .aboutPadding {
        padding-bottom: 55px;
    }
    
    .aboutSponsorButton {
        position: absolute;
        top: 200px;
        height: 4px;
    }
    
    
    .aboutSubTitle {
        position: relative;
        color: rgb(56, 56, 56);
        top: -25px;
        left: 2%;
    }
    
    .aboutText {
        position: relative;
        top: -30px;
        font-size: 15px;
        font-weight: 400;
        color: rgb(56, 56, 56);
        text-align: justify;
        line-height: 30px;
    }

    .analyticsIllustration {
        width: 0px;
        height: 0px;
        display: none;
    }
    
    .peopleIllustration {
        width: 0px;
        height: 0px;
        display: none;
    }

    /* HOW IT WORKS BOX */
    .explainationBox {
        position: absolute;
        margin: 10px;
        width: 80vw;
        left: calc(50% - 41.5vw);
        height: auto;
        top: 2350px;
    }
    
    .explainationBoxTitle {
        position: relative;
        left: calc(50% - 75px);
        padding-top: 60px;
        font-size: 50px;
        font-weight: 600;
        color: rgb(50, 50, 50);
        display: inline-block;
    }

    .explainationText {
        position: relative;
        top: -10px;
        left: 0px;
        font-size: 15px;
        font-weight: 400;
        color: rgb(56, 56, 56);
        text-align: justify;
        line-height: 30px;
        width: 100%;
    }

    .howToClassifyBox {
        position: relative;
        top: 0px;
        width: 630px;
        left: calc(50% - 320px);
        background-color: rgba(179, 121, 121, 0);
        height: 700px;
        bottom: 30px;
        padding-right: 0px;
        border-right: none;
        border-bottom: 0px solid rgb(235, 235, 235);
        z-index: 1;
    }
    
    .howToRequestBox {
        position: relative;
        top: 50px;
        width: 630px;
        left: calc(50% - 320px);
        background-color: rgba(179, 121, 121, 0);
        height: 975px;
        bottom: 30px;
        padding: 0px;
        border-right: none;
        border-bottom: 0px solid rgb(235, 235, 235);
        z-index: 1;
    }
    
    .inputTableImage {
        position: relative;
        left: calc(50% - 200px);
        border: solid rgb(215, 222, 255) 1px;
        transition: all .15s ease-out;
        margin-bottom: 35px;
        margin-top: 20px;
    }
    
    .outputTableImage {
        position: relative;
        left: calc(50% - 200px);
        border: solid rgb(215, 222, 255) 1px;
        margin-top: 20px;
        transition: all .15s ease-out;
    }
    
    .getStartedButton {
        height: 0px;
        width: 0px;
        display: none;
    }
    
    .publishIllustration {
        height: 0px;
        width: 0px;
        display: none;
    }

    .explainationPoint {
        position: relative;
        top: -10px;
        font-size: 14px;
        width: 500px;
        left: calc(50% - 265px);
        padding: 10px;
        margin-top: 20px;
        border: 1px solid rgb(215, 222, 255);
        transition: all .15s ease-out;
    }

    .homePageBox {
        padding-bottom: 4000px;
    }


}
