@media (max-width: 1350px) {
    .startBackground {
        height: 475px;
    }

    .earthPinIllustration {
        height: 320px;
        top: 128px;
        right: 5vw;
    }
    
    .startBox {
        width: 500px;
        height: 300px;
        font-size: 18px;
    }

    .startSubText {
        top: 150px;
    }

    .startButton {
        left: 180px;
        top: 210px;
        height: 37px;
        width: 136px;
    }

    .startButton:active {
        left: 186px;
        top: 216px;
    }
    
    .startButtonShadow {
        left: 186px;
        top: 216px;
        height: 37px;
        width: 136px;
    }

    .informationButtonBox {
        display: flex;
        flex-direction: flow;
        justify-content: space-between;
        left: 110px;
        width: 80vw;
        background-color: rgba(126, 28, 165, 0);
        top: 495px;
    }

    .informationButton {
        width: 275px;
        height: 108px;
    }

    .informationButtonText {
        font-size: 60px;
        top: -20px;
        left: 20px;
    }
    
    .informationButtonExplaination {
        font-size: 20px;
        width: 150px;
        top: 18px;
    }
    
    .nationalityAmountExplaination {
        top: 15px;
        left: 115px;
    }

    .standardModelsExplaination {
        top: 15px;
        left: 110px;
    }
    
    .customModelsExplaination {
        top: 28px;
        left: 115px;
    }

    /* ABOUT SECTION */

    .aboutBox {
        position: absolute;
        left: 110px;
        width: 80vw;
        top: 655px;
        height: 1175px;
        background-color: rgba(245, 218, 218, 0);
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: rgb(235, 235, 235);
    }
    
    .slideBox {
        position: absolute;
        top: -40px;
        left: 0px;
        width: 100%;
        height: 700px;
    }

    .aboutSectionTitle {
        position: relative;
        left: calc(50% - 80px);
        padding-top: 50px;
        font-size: 50px;
        font-weight: 600;
        color: rgb(50, 50, 50);
        display: inline-block;
    }
    
    
    .aboutMotivationBox {
        position: absolute;
        top: 180px;
        width: 800px;
        height: 260px;
        left: calc(50% - 430px);
        border: none;
        border-radius: 5px;
        border: solid rgb(226, 231, 255) 1px;
        padding: 30px;
        z-index: 3;
        box-shadow: 0 0 30px rgba(12, 64, 160, 0.15);
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }
    
    .aboutProjectBox {
        position: absolute;
        top: 525px;
        width: 800px;
        height: 260px;
        left: calc(50% - 430px);
        border: none;
        border-radius: 5px;
        border: solid rgb(226, 231, 255) 1px;
        padding: 30px;
        z-index: 3;
        box-shadow: 0 0 30px rgba(12, 64, 160, 0.15);
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }
    
    .aboutUsBox {
        position: absolute;
        top: 870px;
        width: 800px;
        height: 260px;
        left: calc(50% - 430px);
        border-radius: 5px;
        border: solid rgb(226, 231, 255) 1px;
        padding: 30px;
        z-index: 3;
        box-shadow: 0 0 30px rgba(12, 64, 160, 0.15);
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }
    
    .aboutSponsorButton {
        position: absolute;
        top: 200px;
        height: 4px;
    }
    
    
    .aboutSubTitle {
        position: relative;
        color: rgb(56, 56, 56);
        top: -25px;
        left: 2%;
    }
    
    .aboutText {
        position: relative;
        top: -30px;
        font-size: 15px;
        font-weight: 400;
        color: rgb(56, 56, 56);
        text-align: justify;
        line-height: 30px;
    }

    .analyticsIllustration {
        display: none;
    }
    
    .peopleIllustration {
        display: none;
    }
}
