
@media (max-width: 800px) {

    /*.earthPinIllustration2 {
        width: 0px;
        height: 0px;
        display: none;
    }*/

    .earthPinIllustration2 {
        height: 135px;
        width: auto;
        top: 65px;
        left: 50vw;
    }

    .startBackground {
        height: 260px;
    }

    .startBox {
        position: absolute;
        top: 45px;
        width: 330px;
        left: calc(50% - 164px);
        height: 150px;
        font-size: 11px;
    }

    .startText {
        width: 100%;
    }

    .startSubText {
        top: 85px;
        left: 0px;
        font-size: 1.0em;
    }

    .startButton {
        width: 105px;
        height: 30px;
        left: 133px;
        top: 104px;
        font-size: 1.0em;
    }

    .startButton:active {
        left: 138px;
        top: 109px;
    }
    
    .startButtonShadow {
        left: 138px;
        top: 109px;
        width: 105px;
        height: 30px;
    }

    /* INFORMATION BOX */

    .informationButtonBox {
        flex-direction: column;
        width: 330px;
        height: 290px;
        background-color: rgba(106, 165, 28, 0);
        top: 250px;
        left: calc(50% - 165px);
    }

    .informationButton {
        width: 100%;
        margin: 7px;
        margin-left: 0px;
        margin-right: 0px;
    }

   .informationButtonText {
        font-size: 50px;
        top: -20px;
        left: 30px;
    }

    .nationalityAmountExplaination {
        top: 3px;
        left: 110px;
    }

    .standardModelsExplaination {
        top: 3px;
        left: 105px;
    }

    .customModelsExplaination {
        top: 13px;
        left: 110px;
    }

    .aboutText {
        position: relative;
        top: -30px;
        font-size: 13px;
        font-weight: 400;
        color: rgb(56, 56, 56);
        text-align: justify;
        line-height: 30px;
    }

    /* MODEL & NATIONALITY PRESENT BOX */
    .datasetPresentBox {
        position: fixed;
        background-color: white;
        border-radius: 0.5vw;
        width: 79vw;
        height: 79vw;
        top: 50vh;
        left: -9.5vw;
        box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.4);
        z-index: 12000;
        background-color: white;
    }
    
    .modelPresentBox {
        position: fixed;
        background-color: white;
        border-radius: 0.5vw;
        width: 79vw;
        height: 79vw;
        top: 50vh;
        left: -9.5vw;
        box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.4);
        z-index: 12000;
        background-color: white;
    }

        
    .presentTitle {
        position: relative;
        color: rgb(63, 63, 63);
        font-size: 6vw;
        left: 3.5vw;
        top: -2.5vw;
        display: inline-block;    
    }

    .searchIcon {
        position: absolute;
        left: 4vw;
        height: 3.5vw;
        width: 3.5vw;
        top: 10.5vw;
    }

    .searchBar {
        position: absolute;
        left: 8.5vw;
        top: 10vw;
        border-style: none;
        background-color: rgba(238, 130, 238, 0);
        width: 60vw;
        height: 4vw;
        outline: none;
        font-weight: 7;
        font-size: 2.6vw;
        color: rgb(63, 63, 63); 
    }

    .searchBar::placeholder {
        color:rgb(197, 197, 197);
    }

    .searchBar:hover {
        border-bottom-style: solid;
        border-bottom-color: rgb(224, 224, 224);
        border-bottom-width: 0.4vw;
    }

    .sortButton {
        position: absolute;
        left: 51vw;
        top: 3.5vw;
        height: 3vw;
        width: 3vw;
        padding-top: 0.2vw;
        border-radius: 50%;
        z-index: 1000;
        outline: none;
    }

    .sortButton:hover {
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    }

    .sortButton:active {
        background-color: rgb(240, 240, 240);
    }

    .scrollDiv {
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 15.5vw;
        left: 3.5vw;
        height: 60vw;
        width: 70.25vw;
        border-top: solid;
        border-width: 2px;
        border-color: rgb(224, 224, 224);
    }

    .jsonTable {
        position: relative;
        color: rgb(63, 63, 63);
        padding: 1.25vw;
        table-layout: fixed;
        border-spacing: 1vw;
        top: -1vw;
        left: 0.55vw;
        width: 70vw;
    }

    th {
        position: relative;
        padding-top: 1.5vw;
        padding-bottom: 2vw;
        font-size: 3.5vw;
        text-align: left;
    }

    .tdJsonTable {
        border-bottom: solid;
        border-width: 0.325vw;
        border-color: rgb(224, 224, 224);
        padding-top: 1vw;
        padding-bottom: 1.85vw;
        overflow-x: hidden;
        font-weight: 7;
        font-size: 2.5vw;
        text-align: left;   
    }

    /* ABOUT BOX */
    .aboutBox {
        position: absolute;
        left: calc(50% - 165px);
        width: 330px;
        top: 555px;
        height: 1350px;
        margin-bottom: 100px;
    }
    
    .slideBox {
        position: absolute;
        top: -40px;
        left: 0px;
        width: 100%;
        height: 700px;
    }

    .aboutBoxTitle {
        position: relative;
        left: calc(50% - 75px);
        padding-top: 40px;
        font-size: 45px;
    }
    
    .aboutMotivationBox {
        position: relative;
        top: 0px;
        width: 300px;
        height: 445px;
        left: 0px;
        padding: 15px;
    }
    
    .aboutProjectBox {
        position: relative;
        top: 20px;
        width: 300px;
        height: 370px;
        left: 0px;
        padding: 15px;
    }
    
    .aboutUsBox {
        position: relative;
        top: 40px;
        width: 300px;
        height: 245px;
        left: 0px;
        padding: 15px;
    }

    .aboutText {
        line-height: 25px;
    }

    .aboutPadding {
        padding-bottom: 10px;
    }

    /* EXPLANATION BOX */

    .explainationBox {
        position: absolute;
        top: 1910px;
        left: calc(50% - 165px);
        width: 330px;
        margin: 0px;
    }

    .explainationBoxTitle {
        position: relative;
        left: calc(50% - 75px);
        padding-top: 40px;
        font-size: 45px;
    }

    .howToClassifyBox {
        width: 100%;
        left: 0px;
    }

    .howToRequestBox {
        width: 100%;
        left: 0px;
    }

    .inputTableImage {
        width: 100%;
        left: 0px;
    }
    
    .outputTableImage {
        width: 100%;
        left: 0px;
    }

    .explainationPoint {
        width: 90%;
        left: calc(50% - 48%);
    }

    .homePageBox {
        padding-bottom: 4000px;
    }

    /* SETTING BOX */
    .settingsBox {
        width: 330px;
        top: 4vw;
        bottom: 4vw;
    }

    .classificationPopup {
        left: calc(50% - 180px);
        width: 360px;
    }

    .goTopBackground {
        display: none;
    }

    .headersCodeBlock {
        width: 330px;
        left: calc(50% - 165px);
    }

    .authFieldBox {
        top: 40px;
        transform: scale(0.8);
    }

    .verificationMessageBox {
        transform: scale(0.8);
    }

    .footerTitle {
        top: 60px;
        font-size: 30px;
    }
    
}


@media (max-width: 500px) {
    .earthPinIllustration2 {
        height: 350px;
        width: auto;
        top: 0px;
        right: -175px;
        left: auto;
    }
    
}